<div class="field">
  <label class="label">Log In</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="Email" ng-model="user.email">
    <input class="input" type="password" placeholder= "Password" ng-model="user.password">
    <span class="icon is-small is-left">
      <i class="fa fa-user"></i>
    </span>
  </div>
  </div>

  <div class="control">
  <button
    class="button is-primary"
    type="text"
    ng-click="login()">
    Login
  </button>
</div>